.navbar-nav .nav-link {
    font-size: 16px;
    padding: 4px 6px;
    border-radius: 4px;
    color: #333 !important;
}

.navbar-nav .nav-link:hover {
        background-color: #ddd;
}

.navbar-nav .nav-link.btn-red {
        background-color: red;
        color: white !important; /* Đổi màu chữ thành trắng */
        transition: background-color 0.3s; /* Thêm hiệu ứng chuyển màu */
}

.navbar-nav .nav-link.btn-red:hover {
            background-color: darkred; /* Màu nền khi hover */
}

.navbar-brand {
    font-size: 18px;
    font-weight: bold;
    color: #333 !important;
}

.logo {
    max-width: 100px; /* Điều chỉnh kích thước logo */
}
.divider {
    border-top: 2px solid #ccc; /* Đường kẻ ngăn cách */
    margin: 1px 0; /* Khoảng cách trên và dưới */
}

footer {
    background-color: #f8f9fa; /* Màu nền cho footer */
    padding: 20px 0; /* Khoảng cách cho footer */
    text-align: center; /* Canh giữa nội dung footer */
}
.dropdown-menu {
    max-height: 300px;
    overflow-y: auto;
}
.selected-icon {
    color: red !important;
}

.nav-item-icon-text {
    display: none;
}

@media (max-width: 768px) {
    .nav-item-icon-text {
        display: inline;
    }
}