.otp-input {
    width: 3rem;
    height: 3rem;
    text-align: center;
    font-size: 1.5rem;
    margin: 0.3rem;
}
#success-alert {
    position: fixed;
    top: 20px;
    right: -300px; /* Bắt đầu từ ngoài màn hình bên phải */
    z-index: 1050;
    width: 350px; /* Độ rộng cố định */
    transition: right 0.5s ease-in-out; /* Thời gian và hiệu ứng chuyển động */
    display: block;
}

#success-alert.show {
    right: 20px; /* Kết thúc tại góc phải màn hình */
}